.monitoring-charts {
  position: relative;
  width: 100%;
  height: 100%;

  &__toggle-button {
    position: absolute;
    z-index: 10;
    right: 5px;
    top: 25px;
    height: 84px;
    width: 84px;

    span svg {
      font-size: 48px;
    }
  }
}
