.challenges {
  &__wrapper {
    position: relative;
    height: 100%;
    display: flex;
  }

  &__stepper {
    height: 10%;
  }
}

.challenge {
  &__wrapper {
    height: 90%;
    display: flex;
    width: 100%;
  }
}
